/* *{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
} */
/* header{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 110px;
}
.nav{
    margin-left: 100px;
}
.nav a{
    color: #000;
    margin: 0 30px;
}
.search{
    width: 35px;
    margin-left: auto;
} */

.banner-img{
    width: 100%;
    height: auto;
}
.banner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
nz-carousel{
    display: flex;
    height: 343px!important;
    /* overflow: hidden; */
    background-color: #000;
}
 [nz-carousel-content] {
    display: block!important;
     text-align: center;
     color: #fff;
     background-color: #000;
     overflow: hidden;
 }
.tag{
    margin: 20px;
    position: absolute;
    z-index: 99;
    width: 200px;
    background-color: #fff;
    color: #aaa;
    padding: 20px;
}
.tag li p{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.tag li p:hover+.hover{
    display: flex;
}
.right{
    width: 20px;
}
.hover{
    position: absolute;
    top: 0;
    left: 200px;
    width: 500px;
    display: none;
    flex-wrap: wrap;
    background-color: #fff;
}
.hover img{
    width: 80px;
}
.hover div{
    width: 250px;
    display: flex;
    align-items: center;
}
/* 商品列表 */
.good {
    background-color: #f5f5f5;
    padding: 20px 0;
}
.tuijian{
    width: 1200px;
    margin: 0px auto;
}
.title{
    margin: 20px 0;
}
.list{
    display: flex;
    justify-content: space-between;
}
.list img{
    width: 250px;
}
.list li{
    background-color: #fff;
    text-align: center;
    width: 280px;
    font-size: 14px;
    padding: 20px 0;
}

/* footer{
    padding: 30px;
    background-color: #f0f0f0;
    text-align: center;
    color: #666;
}
.footer-nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}


.footer-nav li {
    width: 200px;
    line-height: 30px;
    font-size: 14px;
}
.footer-nav li:first-child {
    color: #000;
    font-size: 18px;
}

.copyright{
    margin-top: 30px;
} */